/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR48j7jQESwgqghmqnj9STHCFS6odB8IdZ4sZrBr-TwDK8R1SX5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
}
